.banner-title-header {
  padding-top: 60px;
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: center;
  .banner-title-contents {
    max-width: 500px;
    padding: 40px 40px 30px;
    i {
      margin-right: .25em;
      font-size: 1.5em;
    }
    h1 {
      text-transform: capitalize;
      display: inline;      
    }
  }
}
.banner-header {
 #main-outlet {
     padding-top: 20px;
 }
}

body[class*="category-"] .banner-title-header { 
  display: none;
}